@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 40;
}

:root::-webkit-scrollbar {
  @apply w-2 bg-transparent;
}

:root::-webkit-scrollbar-track {
  @apply bg-transparent;
}

:root::-webkit-scrollbar-thumb {
  @apply rounded-md bg-black/50 dark:bg-white/50;
}
