@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 40;
}

:root::-webkit-scrollbar {
  @apply w-2 rounded-md border border-solid bg-white/40;
}

:root::-webkit-scrollbar-track {
  @apply rounded-md border border-solid bg-white/40;
}

:root::-webkit-scrollbar-thumb {
  @apply rounded-md border border-solid border-[#191919] bg-[#111];
}
