@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 40;
}

::-webkit-scrollbar {
  @apply w-3;
}

::-webkit-scrollbar-thumb {
  @apply h-12 rounded-md border-[3px] border-solid border-transparent bg-gray-400 bg-clip-content;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: auto;
  }
}
